# Virtual environment
ex00/
venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.Identifier

# MacOS files
.DS_Store

# Large data files (optional: track small ones only)
*.csv
*.txt

household_power_consumption.txt
Ecommerce_purchases.txt
Ecommerce_purchases
iris.csv

Ecommerce_purchases:Zone.Identifier
household_power_consumption.txt:Zone.Identifier
iris.csv:Zone.Identifier

# Logs
*.log
